.DS_Store
*.swp
*~.nib

.svn
.idea

build
target/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.iml
*.ipr
*.iws
*.ids
*.log
*.bak
*.jasper
project_stats.txt

xcuserdata
icash-webapp/src/main/webapp/WEB-INF/report/GastrofixResource.properties

DB/icash-bad.sql

DB/icash-new-pkeys-and-index.sql
